<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<connectionStrings>
		<add name="DataBaseConnection"
			 connectionString="Data Source=LAPTOP-VA8NC5V0\SQLEXPRESS;Initial Catalog = ProyectoFinalAutobuses; Integrated Security = True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>

</configuration>