<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<connectionStrings>
		<add name="DataBaseConnection"
			 connectionString="Data Source=LAPTOP-H8DPVP2V\SQLEXPRESS;Initial Catalog = Proyecto_FinalAutobuses; Integrated Security=True; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>

</configuration>